<footer class="footer" id="footer">
    <div class="container">
        <div class="footer-box">
            <div class="columns">
                <div class="col">
                    <div class="footer-title">Компания</div>
                    <ul class="footer-menu">
                        <li><a href="">Карьера</a></li>
                        <li><a href="">О нас</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Копроративным клиентам</a></li>
                    </ul>
                </div>
                <div class="col">
                    <div class="footer-title">Информация</div>
                    <ul class="footer-menu">
                        <li><a href="">Доставка и оплата</a></li>
                        <li><a href="">Гарантия и сервис</a></li>
                        <li><a href="">Блог</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>
                <div class="col">
                    <div class="footer-title">Выгодно</div>
                    <ul class="footer-menu">
                        <li><a href="">Акции</a></li>
                        <li><a href="">Топ продаж</a></li>
                        <li><a href="">Техобмен</a></li>
                        <li><a href="">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="footer-consultation">
                    <span class="footer-consultation-title">Консультация по телефонам:</span>
                    <div class="phones-row">
                        <a href="tel:044755754" class="phone mobile-hidden">044 755 754</a>
                        <a href="tel:0800755754" class="phone">0 800 755 754</a>
                    </div>
                    <div class="footer-time-row">
                        <div class="footer-time-item">
                            <span class="time-title">Пн - Пт:</span>
                            <span class="time-value">с 9 до 21</span>
                        </div>
                        <div class="footer-time-item">
                            <span class="time-title">Сб - Вс:</span>
                            <span class="time-value">с 10 до 18</span>
                        </div>
                    </div>
                </div>
                <div class="footer-contacts">
                    <!--<div class="mail-box">-->
                    <!--<span>Ваши предложения:</span>-->
                    <!--<a href="mailto:feedback@tehnoezh.ua">feedback@tehnoezh.ua</a>-->
                    <!--</div>-->
                    <div class="footer-socials">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="far fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-box">
            <div class="columns">
                <div class="col-1">
                    <div class="copyright">
                        <span>&copy; tehnoezh.ua</span>
                    </div>
                    <div class="security">
                        <span>Политика конфиденциальности</span>
                    </div>
                    <div class="payment-icons">
                        <span class="icon">
                            <i class="ic-visa"></i>
                        </span>
                        <span class="icon">
                            <i class="ic-mc"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="awards">
                    <a href="">
                        <i class="ic-awards"></i>
                    </a>
                    <span>Награды Retail Awards 2017 <br>и «Лучший сервис»</span>
                </div>
                <!--<div class="developing-info">-->
                <!--<span>Разработано с любовью </span>-->
                <!--<span>в <a href="https://turumburum.ua" class="ic-turum"></a></span>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</footer>

<span class="back-to-top"><i class="ic-up"></i></span>
<div class="bg"></div>
<!-- modal container -->
<div class="modal fade" id="modal-main" role="dialog" tabindex="-1">
    <div class="modal-dialog"></div>
</div>
<!--<script src="js/libs/jquery-1.12.0.min.js"></script>-->
<script src="js/libs-min.js"></script>
<script src="js/main-min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0DxMMYRhqIFoFb4io4uzMqOk29kSaNso&callback=initMap">
</script>