<div class="subs-section">
    <div class="container">
        <div class="subs-holder form-with-success-holder">
            <div class="title-holder">
                <div class="title-h2">Подпишись на рассылку</div>
                <div class="title-note-row">и получи 100 грн на покупку</div>
            </div>
            <div class="section-container">
                <form action="" class="subs-form form_validate form-with-success">
                    <div class="subs-box">
                        <div class="input-holder field">
                            <input type="text" data-validate="required-email" class="input form-control">
                            <label class="label-input">Ваш e-mail</label>
                        </div>
                        <button type="submit" class="btn btn-submit">
                            <span>Подписаться</span>
                        </button>
                    </div>
                </form> 
                <div class="form-with-success-answer">
                    <div class="title-holder">
                        <div class="title-h2">Спасибо! Вы подписались на рассылку! </div>
                        <div class="title-note-row">На указанный e-mail <span class="link">valentin@gmail.com</span> мы отправили промокод на 100 грн к любой покупке!</div>
                    </div>                    
                </div>                   
            </div>
        </div>
    </div>
</div>