$icons: (
        sprite: (width: 104px, height: 3003px, pngPath: '../img/svg-sprite.png', svgPath: '../img/svg-sprite.svg'),
arrow-left: (width: 47px, height: 34px, backgroundX: 0px, backgroundY: 0px),
arrow-right: (width: 47px, height: 34px, backgroundX: 0px, backgroundY: -44px),
arrow-showing-more: (width: 33px, height: 30px, backgroundX: 0px, backgroundY: -88px),
arrow-vertical-next: (width: 53px, height: 53px, backgroundX: 0px, backgroundY: -128px),
arrow-vertical-prev: (width: 53px, height: 53px, backgroundX: 0px, backgroundY: -191px),
checkbox: (width: 21px, height: 20px, backgroundX: 0px, backgroundY: -254px),
checkbox-checked: (width: 21px, height: 21px, backgroundX: 0px, backgroundY: -284px),
ic-addr-cancel: (width: 34px, height: 35px, backgroundX: 0px, backgroundY: -315px),
ic-addr-edit: (width: 34px, height: 35px, backgroundX: 0px, backgroundY: -360px),
ic-addr-save: (width: 34px, height: 35px, backgroundX: 0px, backgroundY: -405px),
ic-apple: (width: 47px, height: 47px, backgroundX: 0px, backgroundY: -450px),
ic-awards: (width: 65px, height: 36px, backgroundX: 0px, backgroundY: -507px),
ic-basket: (width: 23px, height: 23px, backgroundX: 0px, backgroundY: -553px),
ic-basket-active: (width: 23px, height: 23px, backgroundX: 0px, backgroundY: -586px),
ic-basket-blue: (width: 50px, height: 40px, backgroundX: 0px, backgroundY: -619px),
ic-basket-blue-plus: (width: 31px, height: 23px, backgroundX: 0px, backgroundY: -669px),
ic-basket-hover: (width: 23px, height: 23px, backgroundX: 0px, backgroundY: -702px),
ic-basket-white: (width: 50px, height: 40px, backgroundX: 0px, backgroundY: -735px),
ic-basket-white-plus: (width: 31px, height: 23px, backgroundX: 0px, backgroundY: -785px),
ic-big-star: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -818px),
ic-big-star-full: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: -852px),
ic-callback: (width: 22px, height: 23px, backgroundX: 0px, backgroundY: -886px),
ic-checkbox: (width: 21px, height: 21px, backgroundX: 0px, backgroundY: -919px),
ic-checkbox-checked: (width: 21px, height: 21px, backgroundX: 0px, backgroundY: -950px),
ic-clip: (width: 8px, height: 18px, backgroundX: 0px, backgroundY: -981px),
ic-close-sm: (width: 11px, height: 12px, backgroundX: 0px, backgroundY: -1009px),
ic-close-sm-active: (width: 11px, height: 12px, backgroundX: 0px, backgroundY: -1031px),
ic-close-social: (width: 19px, height: 19px, backgroundX: 0px, backgroundY: -1053px),
ic-comparing: (width: 25px, height: 17px, backgroundX: 0px, backgroundY: -1082px),
ic-comparing-active: (width: 25px, height: 17px, backgroundX: 0px, backgroundY: -1109px),
ic-comparing-added: (width: 25px, height: 17px, backgroundX: 0px, backgroundY: -1136px),
ic-dislike: (width: 14px, height: 13px, backgroundX: 0px, backgroundY: -1163px),
ic-envelope: (width: 22px, height: 16px, backgroundX: 0px, backgroundY: -1186px),
ic-equals: (width: 19px, height: 15px, backgroundX: 0px, backgroundY: -1212px),
ic-favorite: (width: 22px, height: 19px, backgroundX: 0px, backgroundY: -1237px),
ic-favorite-active: (width: 22px, height: 19px, backgroundX: 0px, backgroundY: -1266px),
ic-favorite-added: (width: 22px, height: 19px, backgroundX: 0px, backgroundY: -1295px),
ic-in-basket: (width: 19px, height: 17px, backgroundX: 0px, backgroundY: -1324px),
ic-in-stock: (width: 14px, height: 11px, backgroundX: 0px, backgroundY: -1351px),
ic-like: (width: 14px, height: 13px, backgroundX: 0px, backgroundY: -1372px),
ic-login: (width: 19px, height: 20px, backgroundX: 0px, backgroundY: -1395px),
ic-login-active: (width: 19px, height: 20px, backgroundX: 0px, backgroundY: -1425px),
ic-login-mobile: (width: 16px, height: 17px, backgroundX: 0px, backgroundY: -1455px),
ic-logo: (width: 55px, height: 44px, backgroundX: 0px, backgroundY: -1482px),
ic-marker: (width: 15px, height: 20px, backgroundX: 0px, backgroundY: -1536px),
ic-mc: (width: 38px, height: 30px, backgroundX: 0px, backgroundY: -1566px),
ic-minus: (width: 21px, height: 21px, backgroundX: 0px, backgroundY: -1606px),
ic-moon: (width: 73px, height: 73px, backgroundX: 0px, backgroundY: -1637px),
ic-more-products: (width: 39px, height: 11px, backgroundX: 0px, backgroundY: -1720px),
ic-newpost: (width: 23px, height: 22px, backgroundX: 0px, backgroundY: -1741px),
ic-pass: (width: 23px, height: 12px, backgroundX: 0px, backgroundY: -1773px),
ic-pass-active: (width: 26px, height: 17px, backgroundX: 0px, backgroundY: -1795px),
ic-plus: (width: 21px, height: 21px, backgroundX: 0px, backgroundY: -1822px),
ic-plus-kit: (width: 26px, height: 26px, backgroundX: 0px, backgroundY: -1853px),
ic-present-card: (width: 58px, height: 36px, backgroundX: 0px, backgroundY: -1889px),
ic-promocode: (width: 17px, height: 22px, backgroundX: 0px, backgroundY: -1935px),
ic-promocode-white: (width: 17px, height: 22px, backgroundX: 0px, backgroundY: -1967px),
ic-reviews: (width: 12px, height: 11px, backgroundX: 0px, backgroundY: -1999px),
ic-search: (width: 23px, height: 24px, backgroundX: 0px, backgroundY: -2020px),
ic-search-mobile: (width: 20px, height: 21px, backgroundX: 0px, backgroundY: -2054px),
ic-sending-blue: (width: 19px, height: 17px, backgroundX: 0px, backgroundY: -2085px),
ic-share: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: -2112px),
ic-share-bag: (width: 20px, height: 20px, backgroundX: 0px, backgroundY: -2138px),
ic-share-bag-blue: (width: 20px, height: 20px, backgroundX: 0px, backgroundY: -2168px),
ic-share-sphere: (width: 19px, height: 19px, backgroundX: 0px, backgroundY: -2198px),
ic-share-sphere-blue: (width: 19px, height: 19px, backgroundX: 0px, backgroundY: -2227px),
ic-share-white: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: -2256px),
ic-sharing: (width: 18px, height: 23px, backgroundX: 0px, backgroundY: -2282px),
ic-star: (width: 13px, height: 14px, backgroundX: 0px, backgroundY: -2315px),
ic-star-full: (width: 14px, height: 14px, backgroundX: 0px, backgroundY: -2339px),
ic-star-mini: (width: 10px, height: 10px, backgroundX: 0px, backgroundY: -2363px),
ic-star-mini-full: (width: 10px, height: 10px, backgroundX: 0px, backgroundY: -2383px),
ic-startup: (width: 73px, height: 73px, backgroundX: 0px, backgroundY: -2403px),
ic-subs: (width: 74px, height: 52px, backgroundX: 0px, backgroundY: -2486px),
ic-success: (width: 90px, height: 90px, backgroundX: 0px, backgroundY: -2548px),
ic-techno-exchange: (width: 14px, height: 14px, backgroundX: 0px, backgroundY: -2648px),
ic-track: (width: 19px, height: 19px, backgroundX: 0px, backgroundY: -2672px),
ic-up: (width: 46px, height: 47px, backgroundX: 0px, backgroundY: -2701px),
ic-up-active: (width: 46px, height: 47px, backgroundX: 0px, backgroundY: -2758px),
ic-video: (width: 27px, height: 28px, backgroundX: 0px, backgroundY: -2815px),
ic-visa: (width: 56px, height: 19px, backgroundX: 0px, backgroundY: -2853px),
ic-zoom: (width: 22px, height: 23px, backgroundX: 0px, backgroundY: -2882px),
logo-turumburum: (width: 94px, height: 17px, backgroundX: 0px, backgroundY: -2915px),
review-mini: (width: 12px, height: 11px, backgroundX: 0px, backgroundY: -2942px),
star-mini: (width: 10px, height: 10px, backgroundX: 0px, backgroundY: -2963px),
star-mini-full: (width: 10px, height: 10px, backgroundX: 0px, backgroundY: -2983px),
);