.content-page {
    .banner-top {
        height: 320px;
        position: relative;
        .banner-top-img {
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            width: 100%;
            height: 100%;
            background-position: center;
        }
    }
    .content {
        &-menu-holder {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              height: 100%;
              width: 105px;
              background-image: linear-gradient(to left,#fff,rgba(255,255,255,0));
              pointer-events: none;
              z-index: 1;
            }
            &:after {
                content:"";
                position: absolute;
                height: 1px;
                width: 100%;
                background: #ececec;
                right: 0;
                left: 0;
                top: calc(100% - 1px);
                z-index: 1;
            }
            .content-page-holder {
                padding: 0;
            }
        }
        &-page-holder {
            max-width: 864px;
            margin: 0 auto;
            padding: 5px 0 50px;
        }
    }
    .content-menu {
        margin: 0 auto;
        &.mCS_destroyed {
          overflow: auto !important;
        }
       .content-menu_items {
           padding: 0;
           margin: 0;
           width: 100%; 
           display: flex;            
       } 
       li {
           list-style: none;
           margin-right: 60px;
           white-space: nowrap;          
           &.active {
              border-bottom: 1px solid $linkColor;
              z-index: 2;
               .menu_item {
                   color: $linkColor;
               }
           }
       }
       .active {
           .menu_item:hover {
               color: $fontColor;
           }
       }
       .menu_item {
           line-height: 60px;
           color: $fontColor;
           font-size: 16px;
           transition: none;           
           &:hover {
               border-bottom: none;
               color: $linkColor;
           }
       }
    }
    .text-section {
        margin: 15px 0;
    }
    p,
    .text-content {
        font-size: 15px;
        line-height: 2;
        display: inline-block;
        width: 100%;
    }
    .advantages-section {
        padding: 20px 0;
        .advantages-items {
            display: flex;
            flex-wrap: wrap;            
        }
        .advantages-item {
            width: 50%;
            margin: 10px 0 25px;
            padding-right: 10px;
            min-width: 310px;
        }
        .advantages-item-num {
            font-size: 54px;
            font-family: $ftMontserratBold;
            color: $linkColor;
        }
        .text-content {
            max-width: 360px;
        }
    }
    .section {
        &-title {
            font-family: $ftMontserratSemiBold;
            font-size: 24px;
            margin: 10px 0;
        }
        &-description {
            font-family: $ftMontserratLight;
            line-height: 1.6;
            font-size: 24px;
            margin: 20px 0 10px;
        }
        &-slider {
            padding: 20px 0 50px;
            .slick-arrow {
                width: 50px;
                height: 50px;
                box-shadow: 0 3px 8px 0 rgba(170, 170, 170, 0.5);
                background-color: #ffffff;
                border-radius: 50%;
                &.slick-next {
                    top: 210px;
                    right: -70px;            
                    &:before {
                        content: '';
                        position: absolute;
                        top: 17px;
                        left: 17px;
                        line-height: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 8px 0 8px 23px;
                        border-color: transparent transparent transparent $linkColor;
                    }
                }
                &.slick-prev {
                    top: 210px;
                    left: -70px;
                    transform: translate(0, -50%);
                    &:before {
                        content: '';
                        position: absolute;
                        right: 17px;
                        top: 17px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 8px 23px 8px 0;
                        border-color: transparent $linkColor transparent transparent;
                    }
                }        
            }
        }
        &-mission-holder {
            background-color: #e5f6ff;
            padding: 65px 0 0;
            background-repeat: no-repeat;
            background-position: right bottom;
            background-image: url('../img/about_bg.jpg');
            .mission-title {
                font-family: $ftMontserratSemiBold;
                font-size: 28px;
                margin-bottom: 20px;
            }
            .sign {
                display: inline-block;
                width: 100%;
                line-height: 2.1;
                margin: 25px 0 10px;
            }
        }
    }
    .slid-item {
        .slide-item-img {
            width: 414px;
            height: 427px;
        }
        .slide-item-text {            
            padding: 25px 30px;
            width: 414px;
            box-shadow: 0 11px 25px 0 rgba(170, 170, 170, 0.2);
        } 
        .slide-item-name {
            font-family: $ftMontserratSemiBold;
            font-size: 20px;
            display: inline-block;
            margin-right: 15px;
        } 
        .slide-item-position {
            color: $linkColor;
            font-size: 13px;
        }
        .slide-item-description {
            margin: 8px 0;
            font-size: 15px;
            display: inline-block;
        }
    }
    .cart-about {
        padding: 100px 0 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .cart-about {
            &-item {           
                box-shadow: 0 11px 25px 0 rgba(170, 170, 170, 0.2);
                min-width: 415px;
            }
            &-img {
                width: 100%;
            }
            &-link {
                font-family: $ftMontserratSemiBold;
                font-size: 20px;
                margin-bottom: 5px;
                display: inline-block;
                border: none;    
            }
            &-info {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: center;
                padding: 15px 30px;                
            }
            &-socials {
                width: 150px;
                display: flex;
                align-items: center;
            }
            &-title {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding: 10px 0;
            }
        }
        .social-links {
            display: flex;
        }
        .social-link {
            width: 39px;
            height: 39px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
            margin-right: 10px;
        }
        .fab {
            display: flex;
            align-items: center;
        }
        .fab:before {
            color:$colorWhite;
        }
        .social-link {
            &-fb {
                background: $bgfb;
            }
            &-i {
                background: $bgi;
            }
            &-y {
                background: $bgy;
            }
        }
       
    }
    .awards-slider {
        margin-right: -40px;
        .cart-about-img {
            width: 415px;
            height: 427px;
            background: $bgPhoto;
            display: flex;
            align-items: center;
            overflow: hidden;
            justify-content: space-around;
        }
        .cart-about-item-holder {
            position: relative;
            width: 415px;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;               
                box-shadow: 0 11px 25px 0 rgba(170, 170, 170, 0.2);
                
            } 
        }
        .cart-about-item {
            font-size: 18px;
            font-family: $ftMontserratSemiBold;
            margin: 30px 15px;           
        }
        .cart-about-info {
            padding: 25px 47px 25px 30px;
            min-height: 96px;
        }
    }
    .accordeon-section {
       padding: 12px 0 50px;
       .section-title {
           margin-bottom: 30px;
       }
    }
    .opening-text {
        font-size: 16px;
        line-height: 19px;
        display: inline-block;
        vertical-align: top;
        border: 0;
        &:hover {
            .icon-plus {
                transform: rotate(180deg);
                transition: all .7s;
            } 
        }
        .icon-plus {
            transform: rotate(-180deg);
            transition: all .7s;
        }   
        i {
            vertical-align: top;
            margin: 0 4px 0 0;
        } 
        span {
            display: inline-block;
            vertical-align: middle;
        }
        .hidden {
            display: none;
        }
    } 
    .title-content {
        font-family: $ftMontserratSemiBold;
        display: inline-block;
        width: 100%;
        line-height: 2;
        margin: 2px 0 5px;
        font-size: 15px;
    }
    .row {        
        padding:15px 0;
    }
    .service {
        &-name {
            font-size: 18px;
            font-family: $ftMontserratLight;
            margin: 10px 0 15px;
            display: inline-block;
        }
        &-cols {
            display: flex;
            flex-wrap: wrap;
            font-size: 15px;
            .col {
                margin-right: 20px;
            }
            .service-city {            
                display: inline-block;
                width: 100%;
                font-family: $ftMontserratSemiBold;
                margin: 5px 0 10px;
            }
            .service-address {
                line-height: 2;
                margin-right: 10px;
                display: inline-block;
            }
        }
    }
    .tel-link {
        display: inline-block;
        width: 100%;
        color: $fontColor;
        transition: none;
        font-size: 20px;
        font-family: $ftMontserratSemiBold;
        border: none;
    }
    .two-col-section {
        margin-bottom: 25px;
        .row {
            display: flex;
        }
    }
    .gmap {
        display: inline-block;
        line-height: 2.14;
        font-size: 14px;
        color: $linkColor;
        min-width: 70px;
        cursor: pointer;
    }
    #map {   
        height: 0;
        transition: .3s; 
    }
    .hidden {
        display: none;
    }
    .col-map {
        width: 100%;
        margin: 20px 0 30px;
    }
    .opened ~ .col-map {
        #map {           
            height: 300px;
        }
    }
    .opened {
        .visible {
            display: none;
        }
        .hidden {
            display: inline-block;
        }
    }
    .bg-blue {
        background: $bgBlue;
        .content-page-holder {
            padding-bottom: 0;
        }
        .img-holder {
            padding-left: 20px;
            width: calc(100% - 460px);
            display: flex;
            align-items: flex-end;
            img {
                max-width: 232px;
            }
        }
        .row-holder {
            display: flex;
            flex-wrap: wrap;            
        }
        .form-holder {
            width: 460px;  
            min-height: 484px;         
            .row {
                padding: 9px 0;
            }
            .row-input-holder {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .input-holder {
                    max-width: 221px;
                }
                .input {
                    max-width: 221px;
                }
            }
            textarea {
                min-height: 130px;
                resize: none;
                padding-top: 30px;
            }
            .textarea.form-control.has-value ~ .label-input,
            .textarea.form-control:focus ~ .label-input {
                font-size: 11px;
                top: 0;
                left: 21px;
                right: 0;
                padding: 10px 0 5px 0;
                background: $colorWhite;
            }
        }
    }
    .form-title-holder {
        color: $colorWarmGreyOne;
    }
    .form {
        &-title {
            font-family: $ftMontserratSemiBold;
            font-size: 34px;
        }
        &-sub-title {
            font-family: $ftMontserratLight;
            font-size: 18px;
            line-height: 2.22;
        }
    }
    .form_white_border {
        padding-top: 30px;
        .form-control {
            border-color: $colorWhite;
        }
        .field.error {
            .form-control {
                border-color: $colorWhite;
                border-bottom: 2px solid #e24a4a;
            }
        } 
        .btn-submit {
            width: 220px;
        }
    }
    .recapcha {
        max-width:220px;
    }
    .contact_holder {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .time {
            line-height: 2;
        }
    }
    .contact_col {
        display: flex;
        flex-direction: column;       
        min-width: 170px;
        max-width: 200px;
    }
    .col_information {
        max-width: 280px;
    }
    .phone {
        color: $fontColor;
        font-size: 18px;
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
        &:hover {
            border-color: transparent;
            color: $linkColor;
        }
    }
    .phone_bold {
        font-family: $ftMontserratSemiBold;
        margin-bottom: 0;
    }
    .contact_text {
      color: $colorWarmGrey;
      display: inline-block;
      margin-bottom: 15px;
    }
    .text-name {
        font-family: $ftMontserratSemiBold;
        font-size: 16px;
        display: inline-flex;
        width: 100%;
    }
    .video_holder {
        padding-bottom: 25px;
        text-align: center;
    }
    .text_under_v {
        margin-bottom: 10px;
        display: inline-block;
    }
    .accordeon_head_sub {
        font-family: $ftMontserratRegular;
        display: inline-block;
        margin-right: 40px;
        color: $colorWarmGrey;
    }
    .shop-slider {
        &.slick-slider {
            .slick-arrow {
                top: 50%;
            }
        }
        .slick-list {            
            img{
                box-shadow: 0 11px 25px 0 rgba(170, 170, 170, 0.2);
            }
        }
    }
    .team-slider {
        .slick-slide {
            padding: 0 12px 30px;
        }
        .slick-list {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    .blog-container {
        .slick-arrow {
            display: none!important;
        }      
    }
    .img-scale-holder {
        display: block;
        overflow: hidden;
        border: 0;
        img {
            transition: all .3s;
        }
        &:hover {           
            img {
                //transform: scale(1.15);
            }
        }
    }
    .section-awards {
        padding-top: 35px;
    }
    .blog-section {
        padding-top: 90px;
    }
    .career-section {
        font-size: 15px;
        line-height: 2;      
       .text-content { 
           display: inline-block;      
            width: 100%; 
            margin:5px 0 20px;
            a{
                color: $fontColor;
                &:hover {
                    opacity: .8;
                    border-color: transparent;
                }
            }
        }
       .accordeon_content-subtitle {
           font-family: $ftMontserratSemiBold;
           font-size: 32px;
           letter-spacing: 0.1px;
           line-height: 1.2;
           margin:20px 0 10px;
       }
       .accordeon_content-title {
            font-family: $ftMontserratSemiBold;
            font-size: 18px;
            margin: 10px 0 0;
            display: inline-block;
            width: 100%;
        }
        .accordeon_head_sub {
            min-width: 100px;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;           
        }
    }
    .city {
        &-items {
            font-size: 18px;
            display: flex;
            flex-wrap: wrap; 
            margin:0 0 20px;
        }
        &-item {
            margin-right: 40px;
            margin-bottom: 10px;
            padding: 0;
            &.active {
                border-bottom: 2px solid $linkColor;
            }           
        }
    }  
    .list-title {
        font-size: 15px;
        font-family: $ftMontserratSemiBold;
        line-height: 2;
    } 
    .blog-list .img a:hover img {
        transform: none;
    } 
    .content-menu {
        .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
        .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
        .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
            opacity: 0;
        }
    }
} //end content-page

// shops page
.main-shop-map {
    padding-top: 20px;
}
#main-shop-map {
    height:423px;
    margin-bottom: 30px;
}
.shops {
    .row {
        padding: 0 0 5px;
    }
    .section {
        padding: 30px 0 15px;
        &-title {
            font-size: 22px;
        }         
        &.map-holder-section {
            padding-top: 10px;
        } 
    }
  
}
.shop {
    &-city-name {
        color: $linkColor;
        font-size: 18px;
        font-family: $ftMontserratSemiBold;
    }
}
.shop_map {
    height: 255px;
    width: 500px;
    max-width: 100%;
}
.col_map {
    width: 510px;
    max-width: 100%;
}
.addr_description {
    display: inline-block;
    max-width: 170px;
    line-height: 1.3;
    margin: 10px 0 15px;
}
.shop_holder {
    display: flex;
    padding: 10px 0 20px;
    flex-wrap: wrap;
}
.shop_info {
    width: calc(100% - 510px);
    padding-right: 10px;
    min-width: 180px;
}
.addr_title {
    color: $linkColor;
    font-family: $ftMontserratSemiBold;
    font-size: 16px;
    
}
.col_map {
    margin: 5px 0;
}
.consultation {
    color: $colorWarmGrey;
    margin: 10px 0 5px;
    display: inline-block;
}
.day {
    color: $colorWarmGrey;
    line-height: 1.6;
}  
.shop_phone {
    color: $fontColor;
} 
.schedule_row {
    .row {
        margin-right: 5px;
    }
}
.input-file {
    display: none;
}
.label-file {
    position: relative;
    color: $linkColor;
    cursor: pointer;
}
.upload-btn-wrapper {
    display: flex;
    align-items: center;
}
.ic-clip {
    margin-right: 6px;
}
.right-modal-open {
    &.wide-modal-open {
        width: 560px;
    }
} 
.modal-body--send_resume {
    padding: 10px 50px;
    .modal-form-holder {
        width: 460px;
        textarea {
            min-height: 130px;
            resize: none;
            padding-top: 30px;
        }
    }
    .form-title {
        font-family: $ftMontserratSemiBold;
        font-size: 34px;
        margin-bottom: 20px;
    }
    .row-input-holder {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .btn-submit {
            max-width: 220px;
            margin-left: 20px;
        }
        .input-holder {
            max-width: 220px;
        }
        
    }
    .write_form {
        padding-top: 90px;
    }
    .success-send-form {
        height: calc(100vh - 80px);
        min-height: 300px;
        flex-wrap: wrap;  
        flex-direction: column;
        font-size: 16px;
        font-family: $ftMontserratLight;
        line-height: 1.6;
        color: $colorWarmGreyOne;  
       .form-sub-title {
           max-width: 390px;
       } 
       .form-contact-title {
           font-size: 15px;
       }
       .email {
           font-family: $ftMontserratBold;
       }
       .form-phone {
           font-size: 18px;
           color: $fontColor;
           display: inline-block;
           width: 100%;
           &:hover {
               border-color: transparent;
           }
       }
    }
    .form-title {
        align-self: left;
        width: 100%;
    }
    .row {
        &-top {
            flex-grow: 1;
            align-self: flex-start;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
        }
        &-bottom {
            align-self: flex-start;        
        }
    }
}
.success-send-form {
    display: flex;
    height: 100%;
    align-items: center;
    display: none;
    .row {
        span {
            line-height: 1.7;
        }
    }
}
.thx {
    .success-send-form {
        display: flex;
        flex-wrap: wrap;
    }
    .write_form {
        display: none;        
    }
    #track-price_form {
        display: none;
    }
}
.modal-body {
    &.modal-body--send_resume {
        padding-top: 10px;
    }
}

.blog {
    &-page {
        .banner-top {
            height: 250px;
        }
        .paging {
            width: 100%;
            justify-content: center;
        }
        .filter-row {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            .category-list-holder {
                overflow-x: auto;
            }
            .category {
                &-list {
                    width: calc(100% - 300px);
                    min-width: 700px;               
                    margin-bottom: 10px;
                    padding-right: 10px;
                    -ms-overflow-style: none;  // IE 10+
                    overflow: -moz-scrollbars-none;  // Firefox
                    &::-webkit-scrollbar {
                        display: none;
                    }   
                }
                &-items {
                    display: flex;
                    flex-wrap: wrap;
                }
                &-item {
                    margin-right: 40px;
                    font-size: 16px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    white-space: nowrap;
                    //&:hover a{
                    //    color: $fontColor;
                    //    border-color: transparent;
                    //}
                    &.active {
                        border-bottom: 2px solid $linkColor;                    
                    }
                }
            }
            .sorted-list {
                width: auto;
                display: flex;
                align-items: center;
                padding: 0 20px 0 0;
                margin-bottom: 10px;
                .sort-select {
                    float: none;
                    width: 100%;
                    &.jq-selectbox .jq-selectbox__dropdown {
                        right: 0;
                        top: 5px;
                    }
                }
                .jq-selectbox .jq-selectbox__trigger-arrow {
                    right: 0;
                    border-top: 8px solid #0080cc;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                }
            }
        }
    }
    &-container {
        .big-items {
            .item-name {
                font-size: 20px;
            }
        }
    }
    &-filter {
        &-section {
            position: relative;
            z-index: 1;
        }
    }
    &-category-title {
        font-family: $ftMontserratSemiBold;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }
}
.banner-top {
    .title-h1 {
        color: $colorWhite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
}
.review-section {
    background: $colorWhite;
    &.blog-section {
        padding-top: 35px;
    }
    .blog-list {
        .item {
             width: 48%;
             max-width: 870px;  
        }
        .img {
            a {
                img {
                    width: 100%;
                }
            }
        } 
    } 
} 
.all-review-section {
    &.blog-section {
        .blog-list {
            flex-wrap: wrap;
            .item {
                display: block;
            }
        }
    }
}
.conditions-section {
    padding: 40px 0;
    .list-title {
        display: inline-block;
        margin: 10px 0;
    }
}
.content-section {
    .text-content {
        margin: 5px 0;
    }
}
.technoexchange {
    &-section-holder {
        border: 1px solid #a9d6f1;
        padding: 20px 40px 30px;
        margin: 50px 0;
        position: relative;
        z-index: 1;
        .section-title{
            margin-bottom: 30px; 
        }
        .technoexchange-section {
            padding: 5px 0;
        }
        .section {
            &.form-section {
                margin: 30px 0 10px;
                .section-title {
                    font-size: 22px;
                }
            }
        }
        .top-info {
            margin-bottom: 20px;
        }
    }
    .form-section {
        margin: 30px 0 0;
    }
    .title-section + .text-content {
        padding: 15px 0 10px;
    }
    .step-section {
        padding: 30px 0 40px;
    }
    .step-title {
        font-size: 24px;
        font-family: $ftMontserratLight;
        line-height: 1.6;
        margin-bottom: 40px;
    }
    .step-items {
        display: flex;
        flex-wrap: wrap;
        .step-item {
            width: calc(100% / 3);
            min-width: 240px;
            &-img {
               min-height: 120px;
               display: flex;
               align-items: center;
               justify-content: center;
               margin-bottom: 15px;
            }
            &-holder {
                width: 260px;
            }
        }
    }
    .accordeon-section {
        padding: 20px 0;
    }
}
[data-memory],
[data-content],
.hide[data-content],
.hide[data-tab] {
    display: none;        
}
.selected[data-model],
.selected[data-memory],
.selected[data-content],
.selected[data-tab] {
    display: block;
}
.technoexchange-section {
    padding: 30px 0 20px;
    .tradein-calc {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .col-calc {
        width: calc(100% - 530px);
        min-width: 230px;
        display: flex;
        flex-direction: column;
        padding-right: 8px;
    }
    .tradein-calc-old {
        border-right: solid 2px $borderColorLight;
        width: 242px;
    }
    .tradein-calc-new {
        padding-left: 40px;
        width: 297px;
    }
    .tradein-calc-total {
        background-color: #e5f6ff;
        width: 243px;
        padding: 110px 30px 30px;
        align-items: flex-start;
    }
    .type-title {
        display: inline-block;
        color: $linkColor;
        font-size: 16px;
        padding-bottom: 9px;
        transition: .3s;
        margin-right: 40px;
        cursor: pointer;
        position: relative;
        &.selected {
            color: $fontColor;
            &:after {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                bottom: 0;
                left: 0;
                right: 0;
                background: $linkColor;
            }
        }
    }
    .tradein-calc__subtitle {
        width: 100%;
        padding: 0 0 20px;
        font-size: 16px;
        font-family: $ftMontserratSemiBold;
    }
    .models_list {
        width: 140px;
        max-width: 140px; 
        padding: 0 5px 0 0;          
    }
    .hdd_list {
        width: calc(100% - 155px);
        min-width: 100px;
        padding-left: 10px;
    }
    .trade_in-item {           
        font-size: 15px;
        line-height: 1.6;
        display: inline-block;
        width: 100%;
        margin: 5px 0;            
        span {
            cursor: pointer;
            padding: 3px 0;
            transition:.3s;
        }
        &.selected {
            span {
                position: relative;
                font-family: $ftMontserratSemiBold;
                display: inline-block;
                width: auto;
                &:before {
                    content:"";
                    display: inline-block;
                    width: calc(100% + 11px);
                    border:1px solid $linkColor;
                    border-radius: 3px;
                    height: 100%;
                    position: absolute;
                    left: -6px;
                    right: -5px;
                    top: -2px;
                }
            }
        }
    }
    .bottom-info {
        display: flex;
    }
    .jq-selectbox {
        border: 1px solid $linkColor;
        padding: 12px;
        min-width: 280px;
        .jq-selectbox__dropdown {
            margin-left: 0;
            left: 0;
         }
    }        
}
.tradein-calc {
    &__discount {
        margin-bottom: 20px;
    }
    &__discount-title {
        font-size: 16px;
        margin-bottom: 10px;
    } 
    &__discount-price {
        font-size: 26px;
        font-family: $ftMontserratSemiBold;
    }
    &__discount-info {
        line-height: 1.6;
        font-size: 13px;
        color: $colorWarmGreyTwo;
        padding-top: 20px;
    }
}
.wrapper__select-mobile {
    display: none;
}
.wrapper__tab-desktop {
    display: flex;
}
.form-holder-content {
    display: flex;
    flex-wrap: wrap;
    .row {
        padding-bottom: 0;
    }
    .left-col {
        width: 270px;
        margin-right: 20px;
    }    
    .right-col {
        width: calc(100% - 290px);
        min-width: 300px;
    }
    .textarea {
        min-height: 125px;
        padding-top: 25px;
    }
    .btn-submit {
        width: 100%;
    }
    .section-title {
        text-align: center;
    }
}
.left-side-title {
    text-align: left;
}
.article {
    &-page {
        .banner-top {
            height: 380px;
            margin-bottom: 50px;
        }
        .article-img {
            margin: 30px auto;
        }
        .h3 {
            font-family: $ftMontserratSemiBold;
            font-size: 18px;
        }
        .h4 {
            font-size: 15px;
            font-family: $ftMontserratSemiBold;
            margin-bottom: 5px;
        }
        .form-section {
            margin: 0;
            .form-holder {
                width: 550px;
                min-height: auto;
                margin: 0 auto;
                padding: 10px 0 40px;
                .row-input-holder {
                    .input {
                        max-width:265px;
                        &-holder {
                            max-width: 265px;
                            width: 100%;
                        }
                    }
                    .btn-submit {
                        width: 100%;
                    }
                }
            }
        }
        .success-send-form {
            padding: 40px 20px;
        }
        .blog-section.review-section {
            .container {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    &-info {
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        color: $colorWarmGrey;
        margin-bottom: 30px;
        &-title {
            color: $colorBlack;
            font-size: 22px; 
            margin-right: 30px;       
        }
        .date {
            color: $fontColor;
            margin-right: 15px;
        }
        .comment {
            margin-right: 15px;
        }
        .icon-like {
            color: $colorWarmGreyTwo;
            font-size: 13px;  
            display: inline-block; 
            margin-right: 12px;
            border: 0;
            i {
                margin-right: 4px;
                opacity: .3;
            }
            &:hover {
                i {
                    opacity: .6;
                }
            }
        }
    }
    &-links-holder {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 0 30px;
        .col {
            width: calc(100% / 3);
            min-width: 180px;
            margin: 10px 0;
            &-align-center {
                text-align: center;
            }
            &-align-right {
                text-align: right;
            }
        }
        .article {
            &-link {
                max-width: 180px;
                display: inline-block;
                color: $colorWarmGrey;
                font-size: 12px;
                position: relative;
                max-height: 31px;
                overflow-y: hidden;
            }
            &-all-link {
                font-size: 15px;
                color: $linkColor;
            }
        }
        .prev-link {
            padding-left: 40px;
            &:hover {
              border-color: transparent;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 5px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 23px 8px 0;
                border-color: transparent $linkColor transparent transparent;
            }
        }
        .next-link {
            padding-right: 40px;
            text-align: left;
            &:hover {
              border-color: transparent;
            }
            &:before {
                content: '';
                position: absolute;
                top: 5px;
                right: 0;
                line-height: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 0 8px 23px;
                border-color: transparent transparent transparent $linkColor;
            }
        }
    }
}
.products-review {
    padding: 50px 0; 
    text-align: center;
    .product-item {
        padding-left: 0;
    }
    .section-title {
        text-align: left;
    }
    &.opened {
        .catalog-list {
            max-height: 9999px;
        }
        .opening-text {
            span {
                display: none;
            }
            .hidden {
                display:inline-block;
            }
        }
    }
    .opening-text {
        width: 100%;
        text-align: center;
        cursor: pointer;
        color: $linkColor;
    }
    .catalog-list {
        padding-left: 0;
        max-height: 760px;
        overflow: hidden;
        transition: all .3s;
        .hidden {
            display: none;
        }
        .product-item {
            &:hover {
                box-shadow: none;
            }
            .img {
                width: 150px;
                height: 150px;
            }
            .product-name {
                font-size: 13px;
                color: $colorWarmGreyOne;
            }
            .price-block {
                padding: 0;
            }
        }
    } 
    .price {
        font-family: $ftMontserratSemiBold;
        font-size: 15px;
        margin-bottom: 3px;
        &-block {
            flex-direction: column;
            align-items: flex-start;
        }
        &-usd {
            margin-left: 0;
            font-size: 15px;
        }
    }
    .buy-btn_mini {
        margin-top: -8px;
    }
}
.share-socials {
    position: fixed;
    z-index: 2;
    right: 50px;
    bottom: 110px;
    .share-link {
        position: relative;
        border: none;
        .article-saved,
        .article-link {
            span {
                display: inline-block;
                margin-right: 15px;
            }
        }
        span {
            display: none;
            font-size: 18px;
            .ic-in-basket {
                margin-bottom: 5px;
            }
            &.active {
                display: flex;
                align-items: center;
                &.article-saved,
                &.article-link {
                    background: $linkColor;
                    color: $colorWhite;  
                    height: 100%;
                    padding: 0 40px;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    border-radius: 20px;

                }
            }

        }
    }
}
.socials-holder {
    .socials-item {
        width: 46px;
        height: 46px;
        border: solid 1px #d6d6d6;
        display: flex;
        border-radius: 50%;
        align-items: center; 
        margin-bottom: 10px;
        margin-right: 10px;
        justify-content: space-around;
        font-size: 20px;
        background: $colorWhite;
        cursor: pointer;
        &:hover {
            color: $colorWhite;
            border-color: transparent;
            &.facebook-link {
                background: $bgfb;
            }
            &.google-link {
                background: $bgg;
            }
            &.twitter-link {
                background: $bgtw;
            }
            &.share-link {
                border-color: $bgBlue;   
                position: relative;            
            }            
        }
    }
    .icon-share {
        @include sprite(ic-share);
    }
    .facebook-link {
        color: $bgfb;
    }
    .google-link {
        color: $bgg;
    }
    .twitter-link {
        color: $bgtw;
    }
}
// 404
.error {
    &-main {
        .viewed-products-section {
            border-bottom: none;
        }
    }
    &-container {
        max-width: 980px;
        margin: 0 auto;
        .link {
            display: inline-block;
            margin-left: 5px;
        }
    }
    &-top-section {
        font-size: 26px;
        max-width: 500px;
        margin: 0 auto;
        padding: 10px 0 90px;
        text-align: center;
        line-height: 1.3;
        span {
            display: inline-block;
            width: 100%;
        }
    }
    &-num {
        font-family: $ftMontserratSemiBold;
        color: $linkColor;
        letter-spacing: 0.5px;
        font-size: 110px;
        margin-top: 10px;
    }
    &-items {
       display: flex;
       flex-wrap: wrap; 
       justify-content: space-between;
    }
    &-item {
        width: calc(100% / 3);
        max-width: 300px;
        min-width: 300px;
        padding: 0; 
        margin-bottom: 20px;       
        .product-item.helping {
            width: 100%;
            .form-box {
                padding: 30px 15px;
            }
        }
        .link-more {
            font-size: 14px;
        }
        &-img {
            width: 300px;
            height:350px;
            img {
                border: solid 1px #dfdfdf;
            }       
        }
        &-desription {
            display: inline-block;
            width: 100%;
            font-size: 16px;
            font-family: $ftMontserratSemiBold;
            margin: 15px 0 10px;
        }
    }
    &-section {
        border-bottom: 1px solid #f5f5f5;
        padding: 90px 0;
    }
}
.accordeon_head {
    background: $filterColor;
    min-height: 65px;
    position: relative;
    font-family: $ftMontserratSemiBold;
    font-size: 16px;
    padding: 5px 34px 5px 30px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;        
    &:after {
        content:"";
        position: absolute;
        background: $linkColor;
        width: 10px;
        height: 2px;
        right: 20px;          
    }
    &:before {
        content:"";
        position: absolute;
        background: $linkColor;
        width: 10px;
        height: 2px;
        right: 20px;
        transform: rotate(90deg);
    }
}
.active {
    & > .accordeon_head {
        &:before {
            content:none;           
        }
    }
}
.accordeon_content {
    display: none;
    padding: 0 30px 30px;
     .text-content {
        max-height: 245px;
        margin: 0 0 5px;
        overflow: hidden;
        transition: all .5s;
    }
    &.opened {
        .text-content {
            max-height: 1699px;  
        }
        .opening-text {
            span {
                display: none;
            }
            .hidden {
                display: inline-block;
            }
        }
    }
}
.list-items {
    padding: 15px 0;
    list-style:none;
    li {
        position: relative;
        line-height: 2;
        padding-left: 15px;
        margin-bottom: 10px;
        &:before {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: $linkColor;
            left: 0;
            top: 10px;
        }
    }
}

.accordeon {
    &_big {
        .accordeon_head {
            font-size: 14px;
            line-height: 1.4;
            padding: 25px 34px 15px 25px;
            font-family: $ftMontserratRegular;
            margin: 20px 0 0;
            min-height: 108px;
        }
        .accordeon_content {
            background: $filterColor;
            padding: 0 10px 35px;
            font-size: 13px;
            &-text {
                display: inline-block;
                width: 100%;
                margin-bottom: 30px;
                line-height: 1.6;                
            }
            &-link {
                display: inline-block;
                margin-right: 25px;
                color: #0381cc;
                margin-bottom: 15px;
                &.selected {
                    border-color: #0381cc;
                    color: $fontColor;
                }
            }
            &-holder {
                padding: 30px 30px 20px;
                background: $colorWhite;
                display: flex;
            }
            &-info {
                width: 290px;
                margin-right: 30px;
            }
            &-detail {
                width: calc(100% - 320px);
                position: relative;
                min-height: 340px;
                margin-bottom: 10px;
               .slider-holder {
                    opacity: 0;
                    .slick-arrow:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        line-height: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 8px 0 8px 23px;
                        border-color: transparent transparent transparent #0080cc;                    
                    }                    
                    .shop-slider {
                        opacity: 0;
                    }
                    &.selected {
                        opacity: 1;
                        .shop-slider {
                            opacity: 1;
                        }
                    }
                }
                .map-holder {                    
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    pointer-events: none;
                    .col_map {
                        width: 100%;
                    }
                    &.selected {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
                .shop_map {
                    height: 300px;
                }
                .shop-slider-items {
                    img {
                        margin: auto;
                    }
                }
            }
            .slick-arrow {
                top: calc(100% + 25px);               
                box-shadow: none;
                right: calc(50% - 35px);
                background: none;
                &:hover {
                    opacity: 1;
                    &:after,
                    &:before {
                        transform: scale(1.18);
                    }
                }
                &.slick-prev {
                    left: calc(50% - 35px);
                }
                &.slick-disabled {
                    opacity: 1;
                }
            }
        }
    }
    &_head {
        &-row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        &-col {
            display: flex;
            flex-direction: column;
            width: calc(( 100% - 19% ) / 3);
            min-width: 100px;
            padding-right: 30px;
            padding-bottom: 10px;
            .grey {
                color: $colorWarmGrey;
            }
            .addr {
                font-family: $ftMontserratSemiBold;
            }
            a {
                color: $fontColor;
                &:hover {
                    border-color: transparent;
                    color: $linkColor;
                }
            }
            &:last-child {
                width: 19%;
                padding-right: 5px;
            }
        }
    }
}
.comment {
    &-section {
        .testimonials {
            &-block {
                margin: 20px 0;
            }
        }
        .testimonial {
            &-block {
                width: 100%;
                padding-left: 30px;
            }
        }
        .form-title-holder {
            font-size: 20px;
            color: $colorWarmGreyOne;
        }
    }
    &-form-holder {
        display: none;
    }
}

