@import '_mixins';
.ic-callback {
  @include sprite(ic-callback);
  //background: url('../img/ic-callback.png') no-repeat;
  //display: inline-block;
  vertical-align: top;
  //width: 22px;
  //height: 23px;
}
.icon-login {
  @include sprite(ic-login);
}
a:hover {
  .icon-login {
    @include sprite(ic-login-active);
  }
}
.icon-favorite {
  @include sprite(ic-favorite);
}
.icon-favorite-added {
  @include sprite(ic-favorite-added);
}
.icon-comparing {
  @include sprite(ic-comparing);
}
.icon-comparing-added {
  @include sprite(ic-comparing-added);
}
a:hover {
  .icon-favorite {
    @include sprite(ic-favorite-active);
  }
  .icon-comparing {
    @include sprite(ic-comparing-active);
  }
  .icon-basket {
    @include sprite(ic-basket-active);
  }
}
.icon-basket {
  @include sprite(ic-basket);
}
.icon-basket_blue {
  @include sprite(ic-basket-blue);
}
.icon-basket_white {
  @include sprite(ic-basket-white);
}
.icon-basket_blue_plus {
  @include sprite(ic-basket-blue-plus);
}
.icon-basket_white_plus {
  @include sprite(ic-basket-white-plus);
}
.ic-in-basket {
  @include sprite(ic-in-basket);
}
.icon-search {
  @include sprite(ic-search);
}
.ic-visa {
  @include sprite(ic-visa);
}
.ic-mc {
  @include sprite(ic-mc);
}
.ic-awards {
  @include sprite(ic-awards);
}
.icon-plus {
  @include sprite(ic-plus);
}
.ceo-block.opened {
  .icon-plus {
    //@include sprite(ic-minus);
  }
}
.icon-moon {
  @include sprite(ic-moon);
}
.icon-statrup {
  @include sprite (ic-startup);
}
.ic-pass {
  @include sprite (ic-pass);
}
.ic-pass-active {
  @include sprite (ic-pass-active);
}
.ic-turum {
  //@include sprite(logo-turumburum);
}
.icon-showing-more {
  @include sprite(arrow-showing-more);
}
.ic-clip {
  @include sprite(ic-clip);
}
.ic-like {
  @include sprite(ic-like);
}
.ic-dislike {
  @include sprite(ic-dislike);
  margin-bottom: -3px;
}
.ic-share {
  @include sprite(ic-share);
}
.ic-share-white {
  @include sprite(ic-share-white);
}
.ic-close-social {
  @include sprite(ic-close-social);
}
.ic-track {
  @include sprite(ic-track);
}
.ic-newpost {
  @include sprite(ic-newpost);
}
.ic-marker {
  @include sprite(ic-marker);
}
.ic-close-sm {
  @include sprite(ic-close-sm);
}
.ic-close-sm-active {
  @include sprite(ic-close-sm-active);
}
.ic-addr-save {
  @include sprite(ic-addr-save);
}
.ic-addr-cancel {
  @include sprite(ic-addr-cancel);
}
.ic-addr-edit {
  @include sprite(ic-addr-edit);
}
.icon-sphere-blue {
  @include sprite(ic-share-sphere-blue);
}
.icon-sphere {
  @include sprite(ic-share-sphere);
}
.icon-bag-blue {
  @include sprite(ic-share-bag-blue);
}
.icon-bag {
  @include sprite(ic-share-bag);
}
.icon-copy {
  @include sprite(ic-promocode);
}
.ic-zoom {
  @include sprite(ic-zoom);
}
.ic-sharing {
  @include sprite(ic-sharing);
}
.ic-star-mini {
  @include sprite(ic-star-mini);
}
.ic-star-mini-full {
  @include sprite(ic-star-mini-full);
}
.ic-review {
  @include sprite(ic-reviews);
}
.icon-exchange {
  @include sprite(ic-techno-exchange);
}
.icon-copy-white {
  @include sprite(ic-promocode-white);
}
.ic-checkbox {
  @include sprite(checkbox);
}
.ic-star {
  @include sprite(ic-star);
}
.ic-star-full {
  @include sprite(ic-star-full);
}
.ic-big-star {
  @include sprite(ic-big-star);
}
.ic-big-star-full {
  @include sprite(ic-big-star-full);
}
.consultant-ic-logo {
  @include sprite(ic-logo);
}
.ic-in-stock {
  @include sprite(ic-in-stock);
}
.icon-plus-product {
  @include sprite(ic-plus-kit);
}
.icon-equals-product {
  @include sprite(ic-equals);
}
.ic-up {
  @include sprite(ic-up);
}
.ic-up-active {
  @include sprite(ic-up-active);
}
ic-search-mobile {
  @include sprite(ic-search-mobile);
}
@media (max-width: 1023px) {
  .search .icon-search {
    @include sprite(ic-search-mobile);
  }
}
.ic-success {
  @include sprite(ic-success);
}
.ic-video {
  @include sprite(ic-video);
}