// Colors
$colorWarmGrey: #777777;
$colorWarmGreyOne: #555555;
$colorWarmGreyTwo: #999999;
$borderParameter: #d4d4d4;
$colorWhite: #ffffff;
$fontColor: #333333;
$colorBlack: #000000;
$linkColor: #0080cc;
$btnColor: #0080cc;
$waterBlue: #1895e0;
$btnFocus: #0369c8;
$borderBlue:#7ac2ec;
$boxShadowBlue: #71b1d7;
$btnDisabled: #c1c1c1;
$colorRed: #e24a4a;
$borderColor: #c3c3c3;
$borderColorLight: #eeeeee;
$borderColorSale: #f5f5f5;
$colorOrange: #ff9900;
$filterColor: #f3f3f3;
$bgPhoto: #ececec;
$bgBlue :#e5f6ff;
$bgRowBlue:#d1e9f5;
$bgfb: #3962a1;
$bgtw: #04abea;
$bgg: #dc4e41;
$bgi: #bc2a8d;
$bgy:#f61c0d; 
$bgCheckbox : #d8d8d8;
$statusNew: #8dbd54;


$bgGift: #52bdbc;
$bgDiscount: #c1d166;
$hitBlue: #4a90e2;
$hitBlueOpacity: rgba(74,144,226,.5);
$bgNew: #ff9900;

// Fonts
$ftMontserratBlack: 'montserratblack', sans-serif;
$ftMontserratBlackItalic: 'montserratblack_italic', sans-serif;
$ftMontserratBold: 'montserratbold', sans-serif;
$ftMontserratBoldItalic: 'montserratbold_italic', sans-serif;
$ftMontserratExtraBold: 'montserratextrabold', sans-serif;
$ftMontserratExtraBoldItalic: 'montserratextrabold_italic', sans-serif;
$ftMontserratExtraLight: 'montserratextralight', sans-serif;
$ftMontserratExtraLightItalic: 'montserratextralight_italic', sans-serif;
$ftMontserratItalic: 'montserratitalic', sans-serif;
$ftMontserratLight: 'montserratlight', sans-serif;
$ftMontserratLightItalic: 'montserratlight_italic', sans-serif;
$ftMontserratMedium: 'montserratmedium', sans-serif;
$ftMontserratMediumItalic: 'montserratmedium_italic', sans-serif;
$ftMontserratRegular: 'montserratregular', sans-serif;
$ftMontserratSemiBold: 'montserratsemibold', sans-serif;
$ftMontserratSemiBoldItalic: 'montserratsemibold_italic', sans-serif;
$ftMontserratThin: 'montserratthin', sans-serif;
$ftMontserratThinItalic: 'montserratthin_italic', sans-serif;

$ftMuseoSansCyrl100: 'Museo Sans Cyrl 100', sans-serif;
$ftMuseoSansCyrl300: 'Museo Sans Cyrl 300', sans-serif;
$ftMuseoSansCyrl500: 'Museo Sans Cyrl 500', sans-serif;
$ftMuseoSansCyrl700: 'Museo Sans Cyrl 700', sans-serif;
$ftMuseoSansCyrl900: 'Museo Sans Cyrl 900', sans-serif;
$ftAwesome: 'FontAwesome';

$boxShadow: 0 6px 13px 0 rgba(144,143,143,.5);